@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@100;200;300&display=swap');



.footer-rodape {
    display: flex;
    flex-direction: row;
    background-color: #236D83;
    padding: 16px 80px;
}

 .footer-rodape h3 {
    color: #ffffff;
    line-height: 32px;
    display: flex;
 }

.footer-rodape a {
    color: #ffffff;
    text-decoration: none;
    line-height: 32px;  
} 

.footer-rodape li{
    display: flex;
    list-style: none;
}

.grow1{
    flex-grow: 1;
}