@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@100;200;300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    display: column; /*Como queriamos fazer duas linhas uma abaixo da outra,
    foi necessário definir o elemento pai "NAV" com o display de coluna*/
}

.logo-pedido {
    display: flex;
    gap: 50px;
}

.logo {
    width: 200px;
}

.caixa-pedido {
    font-size: 40px;
    padding-top: 10px;
}

.menus {
    height: 140px;
}

.menu-sup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
    color: #fff;
    background-color: #236D83;
    border-bottom: 1px solid #e0e0e0; /* Cria a linha conforme feito no protótipo, na primeira tentativa criei uma DIV vazia, mas vi que isso não era uma boa prática.*/
}

.menu-sup ul{
    display: flex;
    list-style: none;
    gap: 30px;
    
}

.icones-menu {
    font-size: 30px;
}

.menu-bot {
    background-color: #236D83;
    height: 50px;
}

.menu-bot ul{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 50px;
    padding-top: 13px;
}

.menu-bot a {
    text-decoration: none;
    color: #fff;
}

.barra-pesquisa {
    position: relative; /*Necessário essa posiçao para posicionar o ícone na DIV*/
    display: inline-block;
    
}

.barra-pesquisa input {
    padding-right: 35px; /*Abre espaço para a direito para o texto digitado não cobrir a lupa*/
    padding-left: 15px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    color: #236D83;
    width: 500px;
    text-align: center;
}

.lupa {
    position: absolute;
    right: 12px; /*Fixa no canto direito, sem ele a lupa fica fora da barra*/
    top: 50%; /*Alinha a lupa no "meio" da barra, sem ela a lupa fica para cima*/
    transform: translateY(-50%); /*Ajuste fino*/
    color: #236D83;
    pointer-events: none; /* Faz o clique passar direto para o input */
}

/* .divisao-linha {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 1px 0;
    border-color: #fff;
} */